/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .viewing-party-banner {
  text-align: center; /* Center text horizontally */
  width: 100%; /* Full width */
  position: fixed; /* Fixed position */
  top: 0; /* At the top of the page */
  left: 0;
  background-color: #f8f9fa; /* Background color */
  padding: 10px 0; /* Some padding */
  z-index: 1000; /* Make sure it's above other content */
  /* Add other styles as needed */
}